.responsive-bar
  img(data-width='340', src='images/xs.png')
  img(data-width='768', src='images/sm.png')
  img(data-width='992', src='images/md.png')
  img(data-width='1100', src='images/lg.png')
.drag-handler ğ„
.drag-mask
